ul.tagcloud {
  list-style: none;
    padding: 0;
}

ul.tagcloud li {
    display: inline-block;
}

li.tag-1 {
    font-size: 150%;
}

li.tag-2 {
    font-size: 120%;
}

li.tag-3 {
    font-size: 100%;
}

li.tag-4 {
    font-size: 80%;
}

li.tag-5 {
    font-size: 60%;
}

li.tag-6 {
    font-size: 50%;
}

ul.tagcloud .list-group-item span.badge {
    background-color: grey;
    color: white;
}
