*.class

# CEF 2.x
# ignite

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Eclipse
.metadata
.classpath
.project
.settings
.springBeans
target
Servers
logs
generated
MANIFEST.MF
test-output

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
.nb-gradle/

# Intelij
*.iml
.idea
out

# EU reference implementation logs
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.DS_Store
