<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <div th:include="fragments/default :: scripts" th:remove="tag"></div>
    <script src="../webjars/jquery-cookie/1.4.1-1/jquery.cookie.js"></script>
    <script src="../bootstrap-select-1.13.0-beta/js/bootstrap-select.min.js"></script>
    <link href="../css/flatly-bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../bootstrap-select-1.13.0-beta/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="../css/cefclient.css">
    <title>CEF eIDAS 2.0.0 - Demo application hub - IdP</title>
</head>
<body>
<div class="container-fluid" style="width: 80%">
    <div class="card" style="margin-top: 15px">
        <div th:include="fragments/default :: sp-header"></div>
        <div class="card-body">

            <h4>Authenticate Citizen</h4>
            <form th:action="'userSelect/' +  ${country}" method="post">
                <input type="submit" value="Authenticate">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="nationalUserSelect"><b>Natural Person Ideneity</b></label>
                            <select class="form-control selectpicker" name="natUser" id="nationalUserSelect" data-native-menu="false" onchange="storeCountry()">
                                <th:block th:each="natUser : ${natUsers}">
                                    <option th:value="${natUser.getId()}" th:data-content="${natUser.getName()}"/>
                                </th:block>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="nationalUserSelect"><b>Legal Person Identity</b></label>
                            <select class="form-control selectpicker" name="natUser" id="nationalUserSelect" data-native-menu="false" onchange="storeCountry()">
                                <th:block th:each="legalUser : ${legalUsers}">
                                    <option th:value="${legalUser.getId()}" th:data-content="${legalUser.getName()}"/>
                                </th:block>
                            </select>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
    <div th:include="fragments/default :: footer-main"/>
</div>

</body>
</html>