<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <div th:include="fragments/default :: scripts" th:remove="tag"></div>
    <link href="../css/flatly-bootstrap.min.css" rel="stylesheet"/>
    <title>CEF eIDAS 2.0.0 - Demo application hub</title>
</head>
<body>
<div class="container-fluid" style="width: 80%">
    <div class="card" style="margin-top: 15px">
        <div th:include="fragments/default :: sp-header"></div>
        <div class="card-body">
            <h3 style="color: #7f0927">Authentication failure</h3>
            <a style="float: right" class="btn btn-primary" th:href="'../sp/'+${spCountry}">Home</a><br>
            <h4>Response message</h4>
            <p th:text="${errorMessage}" style="color: #333333"></p>
        </div>
    </div>
    <div th:include="fragments/default :: footer-main"/>
</div>

</body>
</html>