<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <div th:include="fragments/direct :: scripts" th:remove="tag"></div>
    <script src="webjars/jquery-cookie/1.4.1-1/jquery.cookie.js"></script>
    <link href="css/flatly-bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="css/sc-main.css">
    <div th:include="fragments/direct :: favicon" th:remove="tag"></div>
    <title>CEF eIDAS nodes for test - Home</title>

    <style>
        .button-word-wrap-div {
            -ms-word-break: break-all;
            word-break: break-all;

            /* Non standard for webkit */
            word-break: break-word;

            -webkit-hyphens: auto;
            -moz-hyphens: auto;
            -ms-hyphens: auto;
            hyphens: auto;

            /* This is required since the div is located inside a btn class wrapper which alters this value and prevents word-wrapping */
            white-space: normal;
        }
    </style>
</head>
<body>

<div th:include="fragments/sc-direct :: sp-header"/>

<div class="container main">
    <div th:include="fragments/sc-direct :: sp-lang-mock"/>

    <div class="row">
        <div class="col-sm-12 content-container">

            <div class="row">
                <div class="col-sm-12 content-heading">
                    <br/>
                    <h2 class="article-header">Sweden CEF eIDAS nodes for test</h2>
                    <p>The services listed below are eIDAS nodes for test based on specified version of the <a href="https://ec.europa.eu/cefdigital/wiki/display/CEFDIGITAL/eIDAS-Node+Integration+Package">eIDAS-Node integration package</a> provided by
                        <a href="https://ec.europa.eu/inea/en/connecting-europe-facility">CEF</a> (Connecting Europe Facility).</p>
                    <p>Each test eIDAS Node represent a test country and the selectable services below are Demo Service Provider (SP) applications for each test country.</p>
                </div>
            </div>

            <hr class="full-width"/>
            <br>

            <div class="providers">
                <div class="row">
                    <div class="col-12">
                        <form action="idpselect" method="post">
                            <p class="info">Available eIDAS node service providers:</p>

                            <th:block th:each="country:${countryList}">
                                <a th:href="${serviceUrl + country}" class="btn provider-button neutral-link">
                                    <div class="provider">
                                        <div class="row">
                                            <div class="col-sm-2"><img th:src="${spConfigMap.get(country).getFlagUrl()}"/></div>
                                            <div class="col-sm-10" style="overflow: hidden">
                                                <strong th:text="'Country ' + ${country} + ' - CEF version '+ ${spConfigMap.get(country).getCefVersion()}"></strong>
                                                <hr class="full-width" />
                                                <div class="button-word-wrap-div" th:utext="${spConfigMap.get(country).getDescription()}"></div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </th:block>
                            <th:block th:each="extCountry:${extCountryList}">
                                <a th:href="${extSpConfigMap.get(extCountry).getSpUrl()}" class="btn provider-button neutral-link">
                                    <div class="provider">
                                        <div class="row">
                                            <div class="col-sm-2"><img th:src="${extSpConfigMap.get(extCountry).getFlagUrl()}"/></div>
                                            <div class="col-sm-10" style="overflow: hidden">
                                                <strong th:text="'Country ' + ${extCountry} + ' - CEF version '+ ${extSpConfigMap.get(extCountry).getCefVersion()}"></strong>
                                                <hr class="full-width" />
                                                <div class="button-word-wrap-div" th:utext="${extSpConfigMap.get(extCountry).getDescription()}"></div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </th:block>

                        </form>
                    </div>

                </div>
            </div> <!-- /.providers -->
        </div>
    </div>
    <div th:include="fragments/sc-direct :: footer"/>

</div>

</div>

</body>
</html>