<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <div th:fragment="scripts">
        <!-- meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="CEF eIDAS 2.x demo hub">
        <meta name="author" content="Stefan Santesson - Sweden Connect">
        <meta http-equiv='pragma' content='no-cache'/>
        <meta http-equiv='cache-control' content='no-cache, no-store, must-revalidate'/>
        <meta http-equiv="Expires" content="-1"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <!-- Scripts -->
        <script src="webjars/jquery/3.3.1-1/jquery.min.js"></script>
        <script src="webjars/popper.js/1.14.6/dist/umd/popper.min.js"></script>
        <script src="webjars/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    </div>
    <div th:fragment="favicon">
        <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-touch-icon.png"/>
        <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png"/>
        <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png"/>
        <link rel="manifest" href="../favicon/site.webmanifest"/>
        <link rel="mask-icon" href="../favicon/safari-pinned-tab.svg" color="#5bbad5"/>
        <link rel="shortcut icon" href="../favicon/favicon.ico"/>
        <meta name="msapplication-TileColor" content="#da532c"/>
        <meta name="msapplication-config" content="../favicon/browserconfig.xml"/>
        <meta name="theme-color" content="#ffffff"/>
    </div>
    <title>Title</title>
</head>
<body>
<!--START HEADER-->
<div class="container">
    <div class="card" style="margin-top: 20px">
        <div th:fragment="sp-header">
            <div class="card-header" style="padding-top: 0px;padding-bottom: 0px">
                <table style="width: 100%">
                    <tr style="padding: 0px; margin: 0px">
                        <td>
                            <a href="http://www.elegnamnden.se/globalalankar/inenglish.4.5a85666214dbad743ffe971.html"><img
                                    src="img/sweden-connect-color-yellow-on-blue.svg" height="60"
                                    style="margin-bottom: 0px; margin-right: 10px; margin-top: 5px"/></a>
                        </td>
                        <td style="padding: 0px; margin: 0px; text-align: center">
                            <h1 id="uiTextTitle" style="margin-top: 0; padding-top: 0">Sweden Connect Test</h1>
                            <!--/*@thymesVar id="spName" type="java.lang.String"*/-->
                            <h4 id="uiTextSubtitle" th:text="${spName}"></h4>
                        </td>
                        <td style="text-align: right"><img src="img/se-eu4.png" height="120"
                                                           style="margin-bottom: 5px"/>
                        </td>
                    </tr>
                </table>

            </div>
        </div>
        <div class="card-body">
        </div>
    </div>
    <div th:fragment="footer">
        <div class='card card-footer'>
            <table style="width: 100%">
                <tr>
                    <td><!--/*@thymesVar id="homePage" type="java.lang.String"*/-->
                    <a class="btn btn-dark" th:href="${homePage}">Home</a>
                    </td>
                    <td style="text-align: center">
                    </td>
                    <td style="text-align: right">
                        <span style="color: #7f0927">Sweden Connect</span><br/>
                        <a href="https://www.swedenconnect.se">https://www.swedenconnect.se</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div th:fragment="footer-main">
        <div class='card card-footer'>
            <table style="width: 100%">
                <tr>
                    <td>&nbsp;</td>
                    <td style="text-align: center">
                    </td>
                    <td style="text-align: right">
                        <span style="color: #7f0927">Sweden Connect</span><br/>
                        <a href="https://www.swedenconnect.se">https://swedenconnect.se</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>