<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="MainLogger" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ABSOLUTE} %5p %c{1}:%L - %m%n" />
		</layout>
	</appender>

  <appender name="EidasLogger" class="org.apache.log4j.DailyRollingFileAppender">
    <param name="File" value="eidasAudit.log" />
    <param name="DatePattern" value="'.'yyyy-MM-dd"/>
    <param name="Append" value="true"/>
    <param name="Threshold" value="INFO"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{dd MMM yyyy HH:mm:ss,SSS} %-5p %C - %m%n"/>
    </layout>
  </appender>

	<logger name="org.opensaml">
		<level value="ERROR" />
	</logger>

	<logger name="eu.eidas">
		<level value="trace" />
	</logger>

	<logger name="eu.eidas.communication.requests">
		<level value="info" />
		<appender-ref ref="EidasLogger" />
	</logger>

	<logger name="eu.eidas.communication.responses">
		<level value="info" />
		<appender-ref ref="EidasLogger" />
	</logger>

	<root>
		<priority value="info" />
		<appender-ref ref="MainLogger" />
	</root>

</log4j:configuration>
