<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="MainAppender" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="eidas-commons.log"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="Append" value="true"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{HH:mm:ss:SSS} - %p - %C{1} - %m%n"/>
        </layout>
    </appender>

    <!-- define the console appender -->
    <appender name="CONSOLE_APPENDER" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%t] %-5p %c{1} - %x - %m%n"/>
        </layout>
    </appender>

    <logger name="eu.eidas.auth.commons" additivity="false">
        <level value="debug"/>
        <appender-ref ref="CONSOLE_APPENDER"/>
    </logger>

    <root>
        <priority value="info"/>
        <appender-ref ref="MainAppender"/>
    </root>

</log4j:configuration>
