<?xml version="1.0" encoding="UTF-8"?>
<!-- 
#   Copyright (c) 2017 European Commission  
#   Licensed under the EUPL, Version 1.2 or – as soon they will be 
#   approved by the European Commission - subsequent versions of the 
#    EUPL (the "Licence"); 
#    You may not use this work except in compliance with the Licence. 
#    You may obtain a copy of the Licence at: 
#    * https://joinup.ec.europa.eu/page/eupl-text-11-12  
#    *
#    Unless required by applicable law or agreed to in writing, software 
#    distributed under the Licence is distributed on an "AS IS" basis, 
#    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. 
#    See the Licence for the specific language governing permissions and limitations under the Licence.
 -->
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="MainAppender" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="eidas-commons.log"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="Append" value="true"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{HH:mm:ss:SSS} - %p - %C{1} - %m%n"/>
        </layout>
    </appender>

    <!-- define the console appender -->
    <appender name="CONSOLE_APPENDER" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%t] %-5p %c{1} - %x - %m%n"/>
        </layout>
    </appender>

    <logger name="eu.eidas.auth.commons" additivity="false">
        <level value="debug"/>
        <appender-ref ref="CONSOLE_APPENDER"/>
    </logger>

    <root>
        <priority value="info"/>
        <appender-ref ref="MainAppender"/>
    </root>

</log4j:configuration>
