img.list-flag-img {
    height: 16px;
    margin-bottom: 3px;
}

td.attribute-heading {
    background-color: #1a252f;
    color: #ffffff;
    font-weight: bolder;
}

.attr-no-req {
    color: #a0a0a0;
    text-decoration: line-through;
    font-weight: normal;
}

.attr-request {
    color: #985f0d;
    text-decoration: none;
    font-weight: normal;
}
.attr-require-rd {
    color: #721c24;
    font-weight: bold;
    text-decoration: none;
}
.attr-require {
    color: #6e001d;
    font-weight: bold;
    text-decoration: none;
}